body{
    margin:0;
    padding:0;
    font-family: 'Italiana', sans-serif;
}

.main-grid{
    display:grid;
    grid-template-columns: 20% 80%;
}

.main-grid div:nth-child(2){
    background-color: rgb(79, 78, 78);
}

#ingredients{
    margin:5%;
    position:sticky;
    top: 0;
    padding: 5px;
}

#ingredients h1{
    font-size:20px;
    font-weight: bold;
}

.ingredients-panel{
    background-color: #efdca1;
}

#main-header{
    display: grid;
    grid-template-columns:60% 40%;
    /* margin: 5% 25% 5% 25%;
    text-align: center;
    padding-top:5%; */
    padding:0%;
    color: #efdca1;
    margin-bottom:0%;
    align-items: center;
}
@media(max-width: 640px){
    #main-header{
        display: inline-block;
    }
    #main-header img{
        width:20%;
    }
}

@media(max-width: 1000px){
    .main-grid{
        display: inline-block;
    }
    #ingredients{
        margin:0%;
    }
}

#main-header > div{
    text-align: center;
}

#main-header div:first-child{
    /* padding-top: 30%; */
    margin: 5%;
    border: 3px solid #EBE5DA;
}

#main-header div h1{
    font-size: 50px;
}

#main-header img{
    width:100%;
    /* margin:5%; */
}

.steps-section{
    color: #efdca1;
    margin:5%;
    width:80%;
    margin:10%;
}

.steps-grid{
    display:grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding:10%;
    border: 3px solid #ec644b;
    margin-bottom:0%;
}

.steps-grid img{
    width:70%;
    margin:10%;
}

a {
    text-decoration: underline;
    color: #ec644b;
}

